body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #232323;
  background: #fcfcfc;
  padding: 0 1em 1em 1em;
  line-height: 1.4;
  min-width: 256px;
  font-size: 12px;
}

.headline {
  margin-bottom: .2em;
}

.subline {
  margin: 0 0 1.5em 0;
  font-size: 1.2em;
}

.option label {
  display: block;
  font-size: 1.1em;
}

.option input {
  margin-right: 1em;
}

.input-label {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: .25em;
}

.option {
  margin-bottom: 1em;
}
